<h1>Nunjucks</h1>
<pre>
        { % <span>extends</span> "base.html" % }

        { % <span>block</span> header % }
    <h1>{ { title } }</h1>
    { % <span>endblock</span> % }

    { % <span>block</span> content % }
    <ul>
        { % <span>for</span> name, item in items % }

        <li>{ { name } } : { { item } }</li>

        { % <span>endfor</span> % }
    </ul>
    { % <span>endblock</span> % }
</pre>

<h1>Tooltip</h1>
<p>Ceci est un <span class="_tooltip" data-tooltip="Oui je suis un tooltip">tooltip</span></p>